@font-face {
    font-family: 'Bionetha';
    src: url('Bionetha.woff2') format('woff2'),
        url('Bionetha.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

